In [36]:
import numpy as np
import pandas as pd
import math

In [37]:
mouse_list=["","1","2","3","4","5","6"]

phase_list=["A1","A2","A31","A32","A41","A42","A5","A6","A7"]

mouse = mouse_list[6]

df_size=pd.DataFrame(index=np.array(phase_list),columns=np.arange(-10,21,1))

In [38]:
for ph in range(0,9,1):

    phase=phase_list[ph]

    file = 'ID138464-%s_%s_conv.csv' % (mouse,phase)

    df = pd.read_csv(file, header=0)

    df["session"]=0

    ses=df.columns.get_loc('session')

    for i in range(1,df.shape[0]):
    
        if (df.iloc[i].loc["FZ"]!=df.iloc[i-1].loc["FZ"]):
        
            df.iloc[i,ses]= df.iloc[i-1,ses]+1
    
        else:
        
            df.iloc[i,ses]= df.iloc[i-1,ses]

    df['mconseq']=0

    FZ_col=df.columns.get_loc('FZ')
    session_col=df.columns.get_loc('session')
    conseqFZ_col=df.columns.get_loc('conseqFZ')
    mconseq_col=df.columns.get_loc('mconseq')
    Slice_col=df.columns.get_loc('Slice')

    for i in range (0,df.shape[0]):
    
        if df.iloc[i,FZ_col] == 0:
        
            ses_no = df.iloc[i,session_col]
        
            if ses_no == df.iloc[df.shape[0]-1].loc['session']:
        
                break;
        
            df_ns=df[df['session']==ses_no+1]
        
            df_ns1=df_ns[df_ns['conseqFZ']==1]
        
            df.iloc[i,mconseq_col]=int(df.iloc[i,Slice_col]-df_ns1.iloc[0,Slice_col]+1)
        
        else:
        
            df.iloc[i,mconseq_col]=int(df.iloc[i,conseqFZ_col])

    df_g=df.groupby('mconseq')
    df_g_size=df_g.size()

    for m in range(df_g_size.index.min(),df_g_size.index.max()+1,1):

        df_size.loc[phase,m] = df_g_size.loc[m]

In [39]:
df_size

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,...,77,78,79,80,81,82,83,84,85,86
A1,80,90,90,90,90,90,90,90,90,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A2,210,250,260,300,350,400,410,480,540,630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A31,70,80,80,100,130,140,150,180,220,290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A32,80,120,140,190,200,200,210,290,340,440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A41,60,80,100,120,140,170,190,200,290,380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A42,150,180,190,210,250,290,310,350,410,440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A5,120,120,140,140,170,180,210,260,300,480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A6,140,150,180,200,230,240,290,330,360,520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A7,40,50,60,70,70,100,140,170,190,250,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0

In [40]:
out='size/size_%s.csv'%(mouse)
df_size.to_csv(out)